<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gametrack {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
  </head>
  <body data-bs-theme="dark">
    <nav class="bg-dark border navbar navbar-expand-md navbar-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="/"><span class="blue"><span class="blue">Gametrack</span></a>
          <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
              {% if g.user %}
                  <ul class="navbar-nav me-auto mt-2">
                      <li class="nav-item"><a class="nav-link" href="{{ url_for('library.library')}} ">Library</a></li>
                      <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#addSteamID">Link Steam</a></li>
                      <form class="d-flex" role="search" action="{{ url_for('library.search') }}">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>                
                  </ul>
                  <ul class="navbar-nav ms-auto mt-2">
                      <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                  </ul>
              {% else %}
                  <ul class="navbar-nav ms-auto mt-2">
                      <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                      <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
                  </ul>
              {% endif %}
          </div>
      </div>
  </nav>
  {% if g.user %}
  <div class="modal fade" id="addSteamID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              Please enter your Steam ID
          </div>
          <div class="modal-body">
              <form id="linkSteamForm" method="post" action="{{ url_for('steam.load') }}">
                  <div class="mb-3" data-mdb-input-init>
                      <label class="col-form-label">ID:</label>
                      <input type="number" class="form-control" name="id">
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" form="linkSteamForm" class="btn btn-primary">Link</button>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateGameModal" tabindex="-1" aria-labelledby="updateGameLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateGameLabel">Update</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{{ url_for('library.update') }}" id="gameUpdateForm">
            <div class="mb-3" id="gameNameDiv">
              <label for="gameName" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="gameName" name="name" disabled>
            </div>
            <div class="mb-3" id="gameSteamIDDiv">
              <label for="gameSteamID" class="col-form-label">Steam AppID:</label>
              <input type="text" class="form-control" id="gameSteamID" name="steam_appid" disabled>
            </div>
            <div class="mb-3" id="gameVndbIDDiv">
              <label for="gameVndbID" class="col-form-label">VNDB ID:</label>
              <input type="text" class="form-control" id="gameVndbID" name="vndbid" disabled>
            </div>
            <div class="mb-3">
              <label for="gameTime" class="col-form-label">Time (in minutes):</label>
              <input type="number" class="form-control" id="gameTime" name="time">
            </div>
            <div class="mb-3">
              <label for="gameRating" class="col-form-label">Rating:</label>
              <input type="number" class="form-control" id="gameRating" name="rating">
            </div>
            <input type="hidden" id="gameID" name="game_id">
          </form>
          <div class="modal-footer">
            <form method="post" action="{{ url_for('library.delete')}}">
              <button type="submit" class="btn btn-danger" style="align-self: left;">Delete</button>
              <input type="hidden" id="gameIDDel" name="game_id">
            </form>
            <button type="submit" form="gameUpdateForm" class="btn btn-primary">Update</button>
          </div>  
        </div>
      </div>
    </div>
  </div>
  {% endif %}
<script>
  const updateGameModal = document.getElementById('updateGameModal')
  if (updateGameModal) {
    updateGameModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
      const button = event.relatedTarget;
        // Extract info from data-bs-* attributes
      document.getElementById('gameID').value = button.getAttribute('data-bs-gameid');
      document.getElementById('gameIDDel').value = button.getAttribute('data-bs-gameid');
      document.getElementById('gameName').value = button.getAttribute('data-bs-gamename');
      document.getElementById('gameSteamID').value = steam_appid = button.getAttribute('data-bs-gamesteamid');
      document.getElementById('gameVndbID').value = vndbid = button.getAttribute('data-bs-gamevndbid');
      document.getElementById('gameTime').value = button.getAttribute('data-bs-gametime');
      document.getElementById('gameRating').value = button.getAttribute('data-bs-gamerating');
  
      // remove empty fields
      document.getElementById('gameSteamIDDiv').style.display = steam_appid != '' ? '': 'none'
      document.getElementById('gameVndbIDDiv').style.display = vndbid != '' ? '': 'none'
  
      })
  }
  </script>
    {% block content %}{% endblock %}
  </body>
</html>